@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ToksozBysNew.Localization
@using ToksozBysNew.Web.Pages.Visits
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using ToksozBysNew.Visits;
@using System.Globalization
@inject IHtmlLocalizer<ToksozBysNewResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Visits/EditModal" autocomplete="off">
    <abp-modal id="VisitEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Visit.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="Visit.VisitDate" value="@(Model.Visit.VisitDate.ToString("yyyy-MM-dd"))" type="date"/>

            <abp-input asp-for="Visit.VisitNotes" />

                                <abp-select asp-for="Visit.DoctorId" asp-items="Model.DoctorLookupList" label="@L["Doctor"].Value"/>            <abp-select asp-for="Visit.UnitId" asp-items="Model.UnitLookupList" label="@L["Unit"].Value"/>            <abp-select asp-for="Visit.ClinicId" asp-items="Model.ClinicLookupList" label="@L["Clinic"].Value"/>            <abp-select asp-for="Visit.BrickId" asp-items="Model.BrickLookupList" label="@L["Brick"].Value"/>            <abp-select asp-for="Visit.IdentityUserId" asp-items="Model.IdentityUserLookupList" label="@L["IdentityUser"].Value"/>            <abp-select asp-for="Visit.SpecId" asp-items="Model.SpecLookupList" label="@L["Spec"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>