@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using ToksozBysNew.Permissions
@using ToksozBysNew.Web.Pages.CustomerAddresses
@using ToksozBysNew.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using ToksozBysNew.Localization
@inject IHtmlLocalizer<ToksozBysNewResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["CustomerAddresses"].Value;
    PageLayout.Content.MenuItemName = ToksozBysNewMenus.CustomerAddresses;
}

@section scripts
{
    <abp-script src="/Pages/CustomerAddresses/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(ToksozBysNewPermissions.CustomerAddresses.Create))
    {
        <abp-button id="NewCustomerAddressButton" text="@L["NewCustomerAddress"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="AddressFilter" label="@L["Address"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="DoctorIdFilter" label="@L["Doctor"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="BrickIdFilter" label="@L["Brick"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="DistrictIdFilter" label="@L["District"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="CountryIdFilter" label="@L["Country"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="ProvinceIdFilter" label="@L["Province"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="CustomerAddressesTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Address"]</th>
					<th>@L["Doctor"]</th>
					<th>@L["Brick"]</th>
					<th>@L["District"]</th>
					<th>@L["Country"]</th>
					<th>@L["Province"]</th>
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>