@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ToksozBysNew.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using ToksozBysNew.Web.Pages.Doctors
@using ToksozBysNew.Doctors;
@using System.Globalization
@inject IHtmlLocalizer<ToksozBysNewResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Doctors/CreateModal" autocomplete="off">
    <abp-modal id="DoctorCreateModal">
        <abp-modal-header title="@L["NewDoctor"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="Doctor.IsActive" />

            <abp-input asp-for="Doctor.NameSurname" />

            <abp-input asp-for="Doctor.PharmacyName" />

                                <abp-select asp-for="Doctor.PositionId" asp-items="Model.PositionLookupList" label="@L["Position"].Value"/>            <abp-select asp-for="Doctor.SpecId" asp-items="Model.SpecLookupList" label="@L["Spec"].Value"/>            <abp-select asp-for="Doctor.CustomerTitleId" asp-items="Model.CustomerTitleLookupList" label="@L["CustomerTitle"].Value"/>            <abp-select asp-for="Doctor.UnitId" asp-items="Model.UnitLookupList" label="@L["Unit"].Value"/>            <abp-select asp-for="Doctor.CustomerTypeId" asp-items="Model.CustomerTypeLookupList" label="@L["CustomerType"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>