@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using ToksozBysNew.Permissions
@using ToksozBysNew.Web.Pages.Companies
@using ToksozBysNew.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using ToksozBysNew.Localization
@inject IHtmlLocalizer<ToksozBysNewResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Companies"].Value;
    PageLayout.Content.MenuItemName = ToksozBysNewMenus.Companies;
}

@section scripts
    {
    <abp-script src="/Pages/Companies/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(ToksozBysNewPermissions.Companies.Create))
    {
        <abp-button id="NewCompanyButton" text="@L["NewCompany"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]" />
                        <abp-button button-type="Primary" type="submit" icon="search" />
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="Id" label="@L["Id"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="CompanyNameFilter" label="@L["CompanyName"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="IsActiveFilter" label="@L["IsActive"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="CompaniesTable">
            <thead>
                <tr>
                    <th>@L["Actions"]</th>
                    <th>@L["CompanyName"]</th>
                    <th>@L["IsActive"]</th>

                </tr>
            </thead>
        </abp-table>

        <abp-tabs tab-style="Pill">
            <abp-tab title="Home">
                <abp-table striped-rows="true" id="DepartmentsTable">
                    <thead>
                        <tr>
                            <th>@L["Actions"]</th>
                            <th>@L["DepartmentName"]</th>
                            <th>@L["CompanyId"]</th>
                            <th>@L["CompanyName"]</th>

                        </tr>
                    </thead>
                </abp-table>
            </abp-tab>
            <abp-tab title="Profile">
                <abp-button id="button1" text="@L["NewCompany"].Value" icon="plus" size="Small" button-type="Primary" />
            </abp-tab>
            <abp-tab title="Contact">
                <abp-input asp-for="CompanyNameFilter" label="@L["CompanyName"].Value" />
            </abp-tab>
        </abp-tabs>


    </abp-card-body>
</abp-card>